.jumbotron {
  padding-top: 6rem;
  background-color: #e3edff;
}

#scroll {
  padding-top: 100rem;
}

#about {
  padding-top: 6rem;
}

#Prestasi {
  background-color: #e3edff;
}

#footer {
  background-color: #242020;
}
