.jumbotron {
  padding-top: 6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/IMG_7057.jpg);
  background-size: cover;
  background-position: center;
  min-height: 700px;
}

#scroll {
  padding-top: 100rem;
}

#about {
  padding-top: 6rem;
}

#Prestasi {
  background-color: #e3edff;
}

#footer {
  background-color: #242020;
}
